.App {
  text-align: center;
}

div.titel {
  width: 70%;
  margin: auto;
  border: 3px solid silver;
  background-color: rgb(202, 233, 253);
  border-radius: 25px;
  margin-top: 10px;
}
div.add {
  width: 70%;
  margin: auto;
  border: 3px solid silver;
  background-color: rgb(234, 254, 242);
  border-radius: 25px;
  margin-top: 10px;
}
div.tracker {
  width: 70%;
  margin: auto;
  border-radius: 25px;
  margin-top: 10px;
}
div.contents {
  width: 75%;
  margin: auto;
  float: left;
}
div.title{
  margin: 5px 0px 0px 15px;
  width: 70%;
  text-align: justify;
  float: left;
}
div.total{
  margin: 5px 0px 0px 5px;
  width: 20%;
  text-align: right;
  float: left;
}
div.all {
  width: 100%;
  margin: auto;
  border: 3px solid silver;
  background-color: rgb(253, 240, 232);
  border-radius: 25px;
  float: left;
  margin-top: 10px;
}
div.module {
  width: 24%;
  margin: auto;
  border-radius: 25px;
  float: right;
}
div.max {
  width: 90%;
  margin: 10px 20px 10px 20px;
  padding: 0px 0px 30px 0px;
  border: 3px solid silver;
  background-color: rgb(252, 236, 236);
  border-radius: 25px;

}
div.distance {
  height: 120px;
  width: 90%;
  margin: 20px;
  border: 3px solid silver;
  background-color: rgb(242, 235, 253);
  border-radius: 25px;
  margin-top: 10px;
}
table {
  width: 100%;
  text-align: center;
}
tr.max{
text-align: center;
width: 80%;
margin: 5px 10px 5px 10px;
padding: 10px;
}
tr{
  text-align: left;
}
tr.total{
  width: 100%;
}
td.allDate{
  padding: 5px 5px 5px 15px;
}
td{
  width: 20%;
}
td.one{
  width: 80%;
}
td.two{
  
  text-align: right;
}
input{
  margin: 20px;
  padding: 5px;
}
input.time{
  text-align: justify;
  width: 100px;
}
input.submit{
  color: white;
  width: 120px;
  text-align: center;
  background-color: #555555;
}
select{
  margin: 20px;
  padding: 5px;
}
p{
  float: left;
  text-align: left;
}