body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.one {
  width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
  background-color: rgb(84, 142, 252);
}
div.two {
  width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
}
div.three {
  width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
}
div.fore {
  width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
}
div.five {
  width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
}